.tUsuario>p{
    font-size: 35px;
    margin-top: 25px;
    color: #6c94c4;
}

.separaCampos{
    padding-top: 20px;
}

.resolucao{
    width: 320px;
    height: 300px;
    margin-top: 80px;
}

.color{
    color: #6c94c4;
}

.formErro{
    font-size: 16px;
}