.tUsuario>p{
    font-size: 35px;
}

.separaCampos{
    padding-top: 20px;
}

/*.image{
    height: 400px;
}*/

/*.image>img{
    width: 200px;
    height: 180px;
    margin-top: 80px;
}*/
.image{
    height: 500px;
    width: auto;
}

.image>img{
    height: 200px;
    width: auto;
}