.centralizador{
    margin-left: 100px;
}

.separaCampos{
    padding-top: 20px;
}

.editar{
    background: #6c94c4;
    margin-left: 100px;
}

.fontValor{
    font-size: 20px;
    text-align: center;
}

