<br /><br /><br /><br />
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="navbar navbar-default tUsuario ">
            <p>Configurações</p>
        </div>
    </div>
</div>

<div class="row well bs-component">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 centralizador">
        <div class="well bs-component">
            <form class="formConfigUsuario" name="configUsuario" ng-submit="salvarConfig(usuario)">
                
                <div class="row hidden">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <input type="text" class="form-control" name="id" ng-model="usuario.id" disabled/>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <label for="nome">Nome Completo:</label>
                        <input type="text" class="form-control" name="nome" ng-model="usuario.nome" ng-show="altone" disabled/>
                        <input type="text" class="form-control" name="nome" ng-model="usuario.nome" ng-show="alttwo"/>
                    </div>
                    
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                        <button type="button" class="btn btn-success editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"><p ng-click="alterar()">Editar</p></span></button>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 separaCampos">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" ng-model="usuario.email" ng-show="altone" disabled/>
                        <input type="email" class="form-control" name="email" ng-model="usuario.email" ng-show="alttwo"/>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 separaCampos">
                        <label for="senha" class="control-label">Para alterar a senha, clique no botão abaixo:</label>
                        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
                            Alterar Senha
                        </button>
                    </div>
                </div>
                
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Alteração de Senha</h4>
                            </div>
                            <div class="modal-body">
                                <form class="formConfigUsuario" name="configUsuario" ng-submit="salvarConfig(usuario)">
                                    <label for="senha" class="control-label">Senha:</label>
                                    <input type="senha" class="form-control" ng-model="usuario.senha" name="senha"/>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 separaCampos">
                        <button type="button" class="btn btn-danger" ng-click="cancelar()" ng-show="alttwo">Cancelar</button>
                        <button type="submit" class="btn btn-success" ng-show="alttwo">Salvar</button>
                    </div>
                </div>
                    
            </form>
        </div>  
    </div>
</div>

        <!--<div>
            <p>{{usuario.id}} - {{usuario.nome}} - {{usuario.email}} - {{usuario.senha}}</p>
            <p ng-bind="usuario.nome"></p>
            <p ng-bind="usuario.email"></p>
        </div>-->