.bordas{
    border: 5px;
    border-style: solid;
    //border-color: #6c94c4;
    border-color: black;
    color: black;
}

.separandoEventos{
    margin-top: 15px;
}

.botao{
    border-style: solid;
}