.bordas{
    border: 5px;
    border-style: solid;
    //border-color: #6c94c4;
    border-color: black;
    color: black;
}

.separandoEventos{
    margin-top: 15px;
}

.botao{
    border-style: solid;
}

.labels{
    color: #6c94c4;
    font-weight: bold;
}

.info{
    color: #3d3d3d;
}

.infomol{
    color: #3d3d3d;
    font-size: 18px;
}

.altura{
    height: 20px;
}
