<br /><br /><br />

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="navbar navbar-default tUsuario ">
            <p>Cadastro de Evento</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well bs-component">
            <form class="forEvento" ng-submit="cadastrarEvento(evento)" name="cadEvento" novalidate>
               <!-- <section data-section="infoGerais" id="infoGerais">-->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tUsuario">
                        <p> Informações Gerais </p>
                    </div>
                
                    
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <label for="nome" class="control-label"> Nome do Evento: </label>
                            <input type="text" class="form-control" placeholder="Nome do Evento" ng-model="evento.nome"/> 
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label for="dataEvento" class="control-label"> Data do Evento: </label>
                            <input type="text" class="form-control" placeholder="Data do Evento" ng-model="evento.dataHora.dataEvento" />
                        </div>
                        
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label for="horaEvento" class="control-label"> Horário: </label>
                            <input type="text" class="form-control" placeholder="Horário" ng-model="evento.dataHora.horaEvento"/> 
                        </div>
                        
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label for="duracaoEvento" class="control-label"> Duração: </label>
                            <input type="number" class="form-control" placeholder="Duração" ng-model="evento.dataHora.duracaoEvento"/>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label for="localEvento" class="control-label"> Local do Evento: </label>
                            <input type="text" class="form-control" placeholder="Local do Evento" ng-model="evento.local"/>
                        </div>
                        
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label for="contatoEvento" class="control-label"> Contato do Evento: </label>
                            <input type="number" class="form-control" placeholder="Contato do Evento" ng-model="evento.contato"/>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label for="categoriaEvento" class="control-label"> Categoria do Evento: </label>
                            <input type="text" class="form-control" placeholder="Categoria" ng-model="evento.categoria"/>
                        </div>
                        
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label for="acompanhateEvento" class="control-label"> Aceitará Acompanhante? </label>
                            <select class="form-control" name="acompanhante" ng-model="evento.acompanhante">
                                <option value="true"> Sim </option>
                                <option value="false"> Não </option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                            <label for="observacoesEvento" class="control-label"> Observações do Evento: </label>
                            <textarea class="form-control" rows="5" ng-model="evento.observacoes"></textarea>
                        </div>                   
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label for="dtaLimiteEvento" class="control-label"> Data Limite do Evento: </label>
                            <input type="text" class="form-control" placeholder="Data Limite do Evento" ng-model="evento.dataLimite"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tUsuario">
                            <p> Tipo de Evento </p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tUsuario">
                            <label for="tipoEventi" class="control-label"> Selecione o tipo de evento: </label>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="false" ng-model="evento.tipoEvento" checked> Evento Gratuito
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="true" ng-model="evento.tipoEvento" checked> Evento Pago
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tUsuario">
                            <p> Montagem do Certificado </p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="uploadImg" class="control-label"> Faça o upload do layout do seu certificado. </label>
                            <!--<input type="file" name="file" value="Upload" id="file" enctype="multipart/form-data" multiple>-->
                            <!--<input type="file" id="imagem" type="file" class="file-loading" parser="configuracaoImagens" base-sixty-four-input ng-model="evento.imagemCertificado"/>-->
                            <input type="file" id="imagem" type="file" class="file-loading" parser="configuracaoImagens" base-sixty-four-input ng-model="evento.codimgfk"/>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="txtPart" class="control-label"> Digite o texto que irá aparecer no corpo do certificado do público ORGANIZADOR </label>
                        </div>
                        
                        <div class="col-xs-offset-1 col-xs-7 col-sm-7 col-md-7 col-lg-7 tagsDivs">
                            <ng-quill-editor name="description" ng-model="evento.corpoCertOuvinte" toolbar="true" link-tooltip="true" image-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link image" editor-required="true" error-class="input-error" theme="snow"></ng-quill-editor>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="txtPart" class="control-label"> Digite o texto que irá aparecer no corpo do certificado do público OUVINTE </label>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-7 col-sm-7 col-md-7 col-lg-7 tagsDivs">
                            <ng-quill-editor name="description2" ng-model="evento.corpoCertOrganizador" toolbar="true" link-tooltip="true" image-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link image" editor-required="true" error-class="input-error" theme="snow"></ng-quill-editor>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="txtPart" class="control-label"> Digite o texto que irá aparecer no corpo do certificado do público PALESTRANTE </label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-7 col-sm-7 col-md-7 col-lg-7 tagsDivs">
                            <ng-quill-editor name="description3" ng-model="evento.corpoCertPalestrante" toolbar="true" link-tooltip="true" image-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link image" editor-required="true" error-class="input-error" theme="snow"></ng-quill-editor>
                        </div>
                        
                    </div>
                
                    <div class="row" ng-init="gerandoRandom()">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <!--<input type="text" class="form-control" name="linkInscricao" ng-model="evento.linkInscricao" ng-bind="linkInscricao" disabled/>-->
                            <h1 ng-model="evento.linkInscricao" ng-bind="linkInscricao"></h1>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Salvar
                            </button>
                        </div> 
                    </div>
            </form>
        </div>
    </div>
</div>